body {
  background-color: navy;
  font-family: Playfair Display;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1, h2, h3 {
  color: Maroon;
  font-family: Open Sans Condensed;
}

.printing {
  border-radius: 15px 50px;
  width: 35%;
}

.wrapper {
  background-color: white;
  width: 80%;
  margin: 0 auto;
}
