.avalible-jobs {
  background-color: olive;
  width: 100%;
  height: 100%;
}




















































































































































































































































































































/** Daniel Greene's workspace **/
body{
    background-color:burlywood;
    width: 100%;
    height: 100%;
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    color: maroon;
}

.wrapper {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 25px 55px gold;
}

h1 {
    font-family: 'Raleway', sans-serif;
}
h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.profilePhoto {
    width: 200px;
    height: 200px;
}

section {
    background-color: darkgoldenrod;
    float: left;
    display: inline-block;
    width: 48%;
    border: 2px solid darkred;
    padding: 0;
    margin: auto;
    border-radius: 5%;
    text-align: center;
}

section img {
    border-radius: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

section p {
    margin: auto;
}

h3 {
    font-family: 'Raleway', sans-serif;
}









































































/**Setting up Nav Bar **/
.navigation{
    background-color: rgb(13, 114, 142);
    color: maroon;
    float: left;
    display: inline-block;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0 auto;
}
.navigation li {
    float: left;
    display: inline-block;
    padding: 15px 10px 15px 10px;
    font-size: 1.1em;
    text-align: center;
    margin: 0 auto;
}

.navigation a {
    text-decoration: none;
    color: maroon;
}

.navigation:link {
    color: maroon;
}
.navigation:visited {
    color: white;
}
.navigation:hover {
    font-size: 1.3em;
}
